---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const items = await Astro.glob("../contents/sample/*.md");
---

<BaseLayout title="Home">
  <div class="container">
    {
      items.map((item) => (
        <div>
          <figure>
            <div class="image-wrapper">
              <img
                src={item.frontmatter.image}
                alt={`image: ${item.frontmatter.image}`}
              />
            </div>
            <figcaption>
              <h2>{item.frontmatter.title}</h2>
              <div class="meta">
                <time class="time" datetime={item.frontmatter.time}>
                  {item.frontmatter.time}
                </time>
                <span class="author">{item.frontmatter.author}</span>
              </div>
            </figcaption>
          </figure>
        </div>
      ))
    }
  </div>
</BaseLayout>
